.page-wrapper {
  background: #000;
}
.logo-text {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
p {
  color: #fff;
}
/* .logo-container-text{
    display: flex!important;
    align-items: center!important;
} */
.brand-one {
  text-align: center;
}
.brand-one__inner ul li {
    padding-right: 168px;
    margin-left: 170px;
}

@media only screen and (max-width: 767px){
    .brand-one__inner ul li {
        position: relative;
        display: inline-block;
        padding-right: 14px;
        margin-left: 11px;
    }
}